.element {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  max-width: 282px;
  position: relative;
}

@media (max-width: 520px) {
  .element {
    max-width: 230px;
  }
}

@media (max-width: 475px) {
  .element {
    max-width: 282px;
  }
}
