.popup__title {
  margin: 0 auto;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 54px;
  margin-top: 34px;
}

@media (max-width: 530px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
    margin-top: 25px;
  }
}
