.popup__close-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  background: url("./../../../images/closeicon.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-btn:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

@media (max-width: 475px) {
  .popup__close-btn {
    background: url("./../../../images/closeiconxs.svg");
    width: 20px;
    height: 20px;
    right: 0;
  }
}
